:root {
  --border-radius: 12px;
  --background-color: #0d0d0d;
  --logo-color: #595959;
  --important-text-color: #d9d0c7;
  --button-color: #f2bf5e;
  --paragraph-color: #595959;
  --paper-color: #262626;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.open-menu {
  width: 300px;
}

.close-menu {
  width: 0px;
}
